# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem


/apps/backend/AuthKey_C29TK4N8BW.p8
/apps/backend/prf-d-pwa-8b7a.json
/apps/backend/prj-d-pwa-8b7a-firebase-adminsdk-7sxjp-5c4facc293.json
/apps/mobile/google-services.json
/apps/mobile/google-services.plist

/.idea/
/.expo/

/apps/mobile/ios
/apps/mobile/android
/apps/web/.expo/
/apps/mobile/.expo/
/apps/functions
/functions/.env.prj-d-pwa-8b7a
