<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
	<string>418896855966-548hc0o1evk1ksbboean5dmq0e3unkui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418896855966-548hc0o1evk1ksbboean5dmq0e3unkui</string>
	<key>API_KEY</key>
	<string>AIzaSyCSXxsXOgKY0c2p4JCXyCo6Q3NXGgNyJuI</string>
	<key>GCM_SENDER_ID</key>
	<string>418896855966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.doomdoom.tech</string>
	<key>PROJECT_ID</key>
	<string>prj-d-pwa-8b7a</string>
	<key>STORAGE_BUCKET</key>
	<string>prj-d-pwa-8b7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418896855966:ios:f01fe9fccead8965620c8f</string>
	<key>DATABASE_URL</key>
	<string>https://prj-d-pwa-8b7a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>